@import "tailwindcss";


#root {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


.sidebar::-webkit-scrollbar {
    width: 2px;
}

.sidebar::-webkit-scrollbar-track {
    background: transparent;

}

.sidebar::-webkit-scrollbar-thumb {
    background: #374151;

    border-radius: 9999px;

}

.sidebar::-webkit-scrollbar-thumb:hover {
    background: #4b5563;

}


.sidebar {
    scrollbar-width: auto;
    scrollbar-color: #374151 transparent;
    /* thumb color, transparent track */
}

.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.prose p {
    @apply mb-4;
    /* gap between lines */
}

.prose p+p {
    @apply mt-6;
    /* bigger gap between paragraphs */
}